html{
    height:100%;
    background:radial-gradient(circle,#fff,#ccc)
  }
  *{
    margin:0;
    padding:0;
  }
  #container{
    background:#9dd2ea;
    width:550px;
    height:400px;
    margin:100px auto;
    border-radius: 10px;
    padding:20px;
    box-shadow: 0px 4px 0px 0px #009de4;
    -moz-box-shadow: 0px 4px 0px 0px #009de4;
    -webkit-box-shadow: 0px 4px 0px 0px #009de4;
    position:relative;
  }
  #score{
    background-color:#f1ff92;
    color:#888e5f;
    padding:11px;
    position:absolute;
    left:500px;
    box-shadow:0px 4px 0px 0px #9da853;
  }
  #question{
    width:450px;
    height:150px;
    margin:50px auto 10px auto;
    background-color:#4c9bf5 ;
    box-shadow:0px 4px #3a82ee;
    font-size: 100px;
    text-align: center;
    font-family:cursive,sans-serif;
  }
  #instruction{
    width:450px;
    height:50px;
    margin:10px auto;
    background: #2790f1;
    text-align:center;
    line-height:45px;
    box-shadow:0px 4px #4271f1;
  }
  #choices{
    width:450px;
    height:150px;
    margin:5px auto;  
  }
  .box{
    background-color: white;
    width:85px;
    height:85px;
    float:left;
    margin-right: 36.5px;
    border-radius:2px;
    text-align:center;
    line-height:80px;
    position:relative;
  }
  .box:hover,#startReset:hover{
    background-color:#2790f1;
    color:white;
  }
  #box4{
    margin-right: 0;
  }
  #startReset{
    width:113px;
    height: 41px;
    position: absolute;
    margin: -52px 221px;
  }
  #timeremaining{
    width:152px;
    padding:10px;
    position:absolute;
    top:395px;
    left:400px;
    background-color:rgba(27, 235, 138, 0.78);
    border-radius:3px;
    display: none;
  }
  #gameover{
    height:200px;
    width:500px;
    text-align: center;
    color:white;
    position: absolute;
    top:100px;
    left:40px;
    font-size: 2.5em;
    background: linear-gradient(#c4b38d,#af7472);
    z-index:2;
    display:none;
  }
  
  /*------------------------------pop up alignment------------------*/
/* Popup container */
.popup {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  margin-top:-31px;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 540px;
  height: 202px;
  background-color: #91a5cd;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 97px 0;
  position: absolute;
  z-index: 1;
  bottom: 83%;
  left: 171%;
  margin-left: -19px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
.unordered{
  position: absolute;
  margin: 10px 20px;
}
